<h1>{{name}} , details:</h1>

<br />
<dl>
  <dt>Description</dt>
    <dd>{{description}}</dd>
  <dt>Location</dt>
    <dd>{{streetNumber}} {{street}}, {{city}}</dd>
 </dl>
 <br />
 <h4>Reviews:</h4>
 <ul>
 {{#each reviews}}
 <li>{{title}}</li>
{{/each}}
</ul>

